	<!-- main-right -->
	<div id="main-right" class="col-xs-9 col-sm-9 col-md-9 pull-right">
		<!-- content -->
		<div id="content">
			<h3>Content category - {{ page.title }}</h3>
			<p><em>site posts categorised as '{{ page.title }}'</em></p>
			<hr />
			<table class="table table-bordered">
			<tbody>
			<thead>
			<tr>
			<th>date</th><th>title</th><th>summary</th><th>categories</th>
			</tr>
			</thead>
					{% for post in site.posts %}	
					{% for cat in post.categories %}
					{% if cat == page.cat %}
					<tr>
					<td>{{ post.date | date_to_string }}</td>
					<td><a href="{{ post.url }}">{{ post.title }}</a></td>
					<td>{{ post.summary }}</td>
					<td>{% for cat in post.categories %} 
					<a href="/cats/{{ cat }}">{{ cat }}</a>{% if forloop.last != true %}, {% endif %} {% endfor %} 
					</td>
					</td>
					</tr>
					{% endif %}
					{% endfor %}
					{% endfor %}			
				</tbody>
			</table> 
    	</div><!-- /content -->
    </div><!-- /main-right -->